@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}


.container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Apple-September-Event-California-Streaming-BasicAppleGuy-iDownloadBlog-6K-No-Logo-2048x1206.png');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: red;
}

/* HEADER */
.header {
    position: relative;
    padding: 0 2rem;
}

.container-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 10px;
}

.container-nav .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.container-nav .navegacion ul{
    display: flex;
    gap: 2rem;
}

.container-nav .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Menu responsivo */

.menu_responsivo {
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 60px;
    height: 0;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu_responsivo.open{
    height: 190px;
}

.menu_responsivo li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hero */

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Container Main */

.container_main {
    margin-top: 2.5rem;
}

.container_main h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#sobreNosotros {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 23.75rem);
    column-gap: 7rem;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#sobreNosotros .card {
    width: 23.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .icon {
    width: 3.1rem;
}

.card .icon img {
    width: 100%;
}

.card h1 {
    margin-top: 0.6rem;
    font-size: 1.4rem;
}

.card p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.8px;
}


#servicios {
    background-color: #F6F7FB;
}

#asesorias {
    background-color: #F6F7FB;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 600px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes banner{
	0%, 20%{
		background-image: url("");
	}
	25%, 45%{
		background-image: url("https://www.todopaisajes.com/Minis/ciudad-de-noche.jpg");
	}
	50%, 70%{
		background-image: url("https://i.pinimg.com/originals/b9/1d/fd/b91dfdd21cf816a69ed544d6800680a4.jpg");
	}
	75%, 100%{
		background-image: url("https://i.pinimg.com/originals/55/5e/52/555e52ca50443a4d366858dc5c83d540.jpg");
	}
}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.info h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}
.info a{
	color: #fff;
	text-decoration: none;
	background: #3088e0;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #111111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContacto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1 {
    font-size: 22px;
}

.info p {
    font-size: 14px;
}

.CP {
    background-color: #000000;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.CP p {
    font-size: 13px;
}

span {
    opacity: .4;
}

.redes a {
    margin: 0 5px;
    color: #fff;
}

/* Diseño Responsivo */

@media (max-width: 992px) {
    .container-nav .navegacion ul {
        display: none;
    }

    .container-nav .toggle_btn {
        display: block;
    }

    .menu_responsivo {
        display: block;
    }

    #sobreNosotros {
        grid-template-columns: repeat(2, 23.75rem);
        column-gap: 50px;
        row-gap: 50px;
    }
}

@media (max-width: 576px) {
    .menu_responsivo {
        top: 80px;
        left: 2.5rem;
        width: unset;
    }

    #sobreNosotros {
        grid-template-columns: 23.75rem;
        row-gap: 30px;
    }
}

@media (max-width: 435px) {

    .header {
        padding: 0;
    }

    .container-nav .logo a {
        font-size: 1.4rem;
    }
}

